<html>
    <head>
        <title>Iris Details</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <!--
        Código para usar los archivos estáticos en FasApi, en su lugr use una url 
        a la imagen para facilitar la correción y su visualización.
        <img src="{{ url_for('static', path='/iris.png') }}" alt="FastApi"> 
        -->
        <img src="https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Machine+Learning+R/iris-machinelearning.png"> 
        <h1> Iris - Sklearn with target function.</h1>
        {%for a in iris %}
        {%if a == 0%}
        <p>{{a}} - Setosa</p>
        {%elif a == 1%}
        <p>{{a}} - Virginica</p>
        {%else%}
        <p>{{a}} - Versicolor</p>
        {%endif%}
        {%endfor%}

    </body>
</html>

